# Dependencies
node_modules/

# Build output
dist/
release/

# Kafka local installation
scripts/kafka_2.13-*/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Electron
out/
release/

# Logs
*.log
